body{
    font-family: "Roboto";
    font-size: 14px;
}

.main-header{
    display: flex;
    background-color: black;
    justify-content: space-around;
}

.top-header div{
    width: 25%;
}

.logo{
    width: 75px;
    height: 50px;
}

.memo{
    color: #f36e21;
    align-self: center;
    font-size: 14px;
    display: none;
}

.input{
    width: 55%;
    align-self: center;
    display: flex;
}

span input{
    width: 90%;
    border-radius: 7px 0px 0px 7px;
    border: none;
    font-size: 100%;
    padding: 5px;
}

span button{
    width: 16%;
    border-radius: 0px 7px 7px 0px;
    border: none;
}

.carritoAccesoDirecto{
    align-self: center;
}

.carritoAccesoDirecto a{
    color: #f36e21;
    padding: 0px 5px;
}

div.main-header .burger-menu{
    align-self: center;
    margin: 5px;
    color: #f36e21;
}

div.main-header .burger-menu i{
    font-size: 20px;
}

.login {
    width: 10%;
    justify-self:end;
    align-self:center;
    display: none;
}

.login a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
}

/* Bottom header */
.bottom-header{
    background-color: black;
    padding: 0px 0px 5px 0px;
    display: none;
}

.lista{
    color:aqua;
    display: flex;
    justify-content: space-around;
}

.lista li {
    list-style-type: none;
}

.lista li a{
    color:white;
    text-decoration: none;
}

/* Main */
main{
    background-color: rgb(255, 255, 255);
    padding-bottom: 100px;
}

.carrito-header{
    display: flex;
    background-color: #f7f7f7;
}

.carrito-container{
    display: flex;
    justify-content: center;
}

#paginaCarrito{
    margin-top: 75px;
}

.row-center-carrito-header{
    width: 100%;
}

.itemList{
    display: flex;
    flex-direction: column;
    width:50%;
}

.breadcrumbs{
    float: right;
    padding-right: 250px;
    margin-bottom: 50px;
    font-size: 18px;
}

.item{
    display: flex;
    align-self: center;
    width: 90%;
    max-height: 105px;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 6px;
    box-sizing: border-box;
}

.descripcionItem{
    width: 500px;
}

.nombreItem a{
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.buttonBorrar button:hover{
    background-color: rgb(243, 68, 68);
    font-weight: 900;
    cursor: pointer;
}
.buttonBorrar button{
    cursor: pointer;
}

.img-fluid{
    width:62px;
    height: 38px;
}

.h2container {
    color: black;
    padding-left: 200px;
    max-width: 225px;
}

.total-subtotal-container{
    background-color: black;
    max-width: 600px;
    justify-content: baseline;
    display: flex;
    flex-direction: column;
    height: 330px;
    width:20%;
    padding:3%;
}

.subtotal-container{
    display: flex;
}

.carro-subtotal{
    border-bottom: groove 1px grey;
    color: #f36e21;
    padding-bottom: 26px;
    font-size: 18px;
    width:100%
}

.total-container{
    display: flex;
    padding-bottom: 16px;
    color:white
}

.total-container h3{
    width:100%
}

.subtotal-text-right{
    float:right;
}

.total-cantidad-float-right{
    float:right;
}

.siguienteButton-container{
    position:relative;
    height:40px;
}

.siguienteButton{

    height: 40px;
    background-color:#f36e21;
    position: absolute;
    width: 100%;
    cursor: pointer;
    
}

.siguienteButton a{
    color:white;
    text-decoration: none;
    font-weight: 500;
}

.ver-mas{
    display: flex;
    justify-content: center;
    margin-top: 64px;
}

.ver-mas a{
    color:#f36e21;
    text-decoration: none;
    font-weight: bold;
}


/* footer */
footer{
    background-color: black;
    color:white
}

.footer-elements{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    color:#f36e21;
    border-bottom: groove 2px rgb(32, 32, 32);
    margin: 0%;
    padding-bottom: 50px;
}


.listaNavegacion li a{
    color:#f36e21;
    text-decoration: none;
}

.footer-legal{
    display:flex;
    justify-content: center;
}

.newsletter button{
    background-color: black;
    color:#f36e21;
    border: 2px solid #f36e21;
    font-weight: 600;
    transition-property: background-color, color, border;
    transition-duration: 0.5s;
}

.newsletter button:hover{
    background-color: #f36e21;
    color:black;
    border: 2px solid black;
    cursor: pointer;
}

/* ------ Carrito Fin ------------*/

/* ------ Index Inicio ----------*/

/*Main Index*/
main a {
    text-decoration: none;
    color: black;
    padding: 5px;
  }
  
  main h3 {
    text-align: center;
  }
  
  #main {
    padding: 15px;
  }
  
  main section article {
    background-color: #fff;
    margin: 10px 0px;
    text-align: center;
    
  }
  
  main section article img {
    width: 100%;
  }
  
  .categorias {
    border-bottom: 1px solid #ebebeb;
  }
  
  .lista-categorias {
    display: flex;
    padding: 0 15%;
    flex-wrap: wrap;
    justify-content:space-around;
  }

  img.carrusel-img{
      width: 100%;
  }
  
  .categorias-carrusel {
    display: flex;
    flex-wrap: wrap;
    background-color: #ebebeb;
    justify-content: center;
  }
  
  aside .carrusel.img {
    padding: 15px;
  }
  
  main section article {
    background-color: #fff;
    margin: 10px 0px;
  } /*quizá esta parte se pueda quitar*/
  
  .precio-ahora {
    font-size: 18px;
  }
  
  .description,
  .precio-antes {
    font-size: 16px;
    font-weight: normal;
  }
  
  .titulo-entre-productos {
    text-align: center;
    font-size: 20px;
  }
  
  .productos-login {
    align-content: stretch;
    justify-content: space-evenly;
  }
  
  .picture {
    /*revisar el tamaño entre los productos y que el martillo cambia mucho de tamaño*/
    height: 100px;
    width: 100px;
    /*object-fit: cover; Este es para uqe no se pixele*/
  }
  .add-to-cart-button button{
      cursor: pointer;
  }

   main section article i {
    display: block;
    font-size: 14px;
    padding: 6px;
    width: 15px;
    height: 15px;
    color: #f36e21;
    border: 1px solid lightgray;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 5px;
    top: -10px;
  }
  
  main section article {
    border: 1px solid #ebebeb;
    padding: 5px;
    margin: 5px;
    align-items: center;
    border-bottom: 2px solid #f36e21;
    box-shadow: 0px 0px 10px grey;
  }
  
  section {
    background-color: #ebebeb;
  }

  section.ultima-vista .productos {
    background-color: black;
  }

  section.promociones{
    margin: 10% 0px;
  }
  
  
  .articulos-vistos,
  .articulos-en-promocion {
    padding: 15px;
    /*display: flex;
    flex-wrap: wrap;*/
    align-items: baseline;
    text-align: center;
    position: relative;
  }
  
  .precio-ahora {
    color: lightcoral;
  }
  
  .descripcion {
    color: black;
  }
  
  /*--------------Login/register*-----------------*/

  div.register a i{
    color: #f36e21;
    padding: 5px;
}

.form2 {
    width: 100%;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 15%;
  }
  
  
  .section-login .form2 input {
    max-width: 750px;
    height: 35px;
    margin-top: 16px;
    margin-bottom: 16px;
  }
   div.login-button-checkbox input{
    width: 10%;
    height: 20px;
  }
  
  .form2 button {
    padding: 0.5em 1em;
    border: none;
    background: #d5d5d5;
    cursor: pointer;
    max-width: 750px;
    border-radius: 4px;
  }

  .loguearse{
      transition-property: background-color;
      transition-duration: 0.5s;
  }
  
  .loguearse a{
      text-decoration: none;
      color:#000;
      transition-property: color;
      transition-duration: 0.5s;
  }

  .loguearse:hover{
      background-color: #1a73e8;
      cursor: pointer;
  }


  .loguearse:hover > a{
      color:white
  }

  
.perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}

.perfil input{
    justify-self: flex-start;
}

.sub-perfil-container label, .sub-perfil-container input{
    padding-left: 13px;
    padding-right: 13px;
}

.intereses{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 400px;
    font-size: 18px;
}

.passwords{
    display: flex;
    flex-direction: column;
    width: 400px;
}

.passwords input{
    width: 400px;
    height: 35px;
    margin-top: 16px;
    margin-bottom: 16px;
    display: block;
    padding-top: 2px;
    border-radius: 6px;
    border: 1px groove black
}

.foto-send-container{
    margin: 16px 0;
}

.section-register div{
    margin: 5px;
}

.section-register .form2 button{
    margin: 10px 0;
    max-width: 400px;
    color: white

}

.section-register .form2 button a{
    text-decoration: none;    
}

.section-register .form2 button a:visited{
    color:white    
}

.form2 input:invalid{
    background-color: pink;
}

/* -----------------------register----------------- */

div.login a i{
    color: #f36e21;
    padding: 5px;
}

.identikit-container input{
    width: 400px;
    height: 35px;
    margin-top: 16px;
    margin-bottom: 16px;
    display: block;
    padding-top: 2px;
    border-radius: 6px;
    border: 1px groove black
}

.perfil{
    display: flex;
}

.sub-perfil-container{
    display: flex;
    align-items: center;
}
/*--------------- Product Detail --------------- */

/*Detalle-Producto*/

body.body-product-detail{
    background-color: #ebebeb;
}

section div.product-mostrados{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: white;
}

.product-mostrados article{
    width: 47%;
    border-bottom: 2px solid #f36e21;
    color: black;
    margin: 10px 0px;
    box-shadow: 0px 0px 10px grey;
}

/*section.product-description{
    /*background-color:
    Comment 1  */


section div.product-title{
    padding: 16px 16px 0px;
    color:black;
    font-weight: 700;
}

section div.product-title-rigth{
    display: none;
}

section div p{
    display: block;
    font-size: 16px;
}

section div.img-producto{
    padding: 16px 16px 0px;
    border-bottom: 2px solid #f36e21;
    display: flex;
    justify-content: center;
    background-color: white;
}

section div.img-producto img{
    width: 100%;
}

section div.product-price{
    color: black;
    padding: 0px 16px;
}

section div.product-price h3{   
    font-size: 32px;
    padding-top: 5px;
}

section div.product-price p{
    font-size: 16px;
}

section div.product-carrito{
    display: flex;
    width: 90%;
    margin: 20px;
    justify-content: center;
}

section div.product-carrito a{
    width: 100%;
    text-align: center;
    padding: 2px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 24px;
    color: white;
    background-color: #f36e21;
}

section div.product-compra{
    display: flex;
    width: 90%;
    margin: 20px;
    justify-content: center;
}

section div.product-compra a{
    width: 100%;
    text-align: center;
    padding: 2px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 24px;
    color: white;
    background-color: #f36e21;
}

#button-delete{
width: 100%;
text-align: center;
padding: 2px;
border-radius: 6px;
text-decoration: none;
font-size: 24px;
color: white;
background-color: red;
}

section div.product-carac{
    color: black;
    background: white;
    margin: 16px;
}

section div.product-carac h2{
    font-size: 26px;
    padding: 0px 0px 10px 10px;
}

.produc-info li{
    padding: 5px;
    font-size: 18px;
}

section div ul.produc-info{
    margin: 0px 16px;
    padding: 0px 16px 10px;
}

section.products-similares{
    padding: 16px 16px;
    /*background-color: rgb(32 32 32);*/
}

section.products-similares h3{
    font-size: 26px;
    padding-right: 10px;
    color:black;
}

section.products-similares img{
    width: 100%;
    height: 55%;
    object-fit: contain;
}

section div.products-mostrados article{
    display: flex;
}

article div.main-article{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #fafafa;
}

article div.main-article .description{
    width: 85%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 18px 19px 0px 5px
}

article div.main-article i{
    display: block;
    font-size: 14px;
    padding: 6px;
    width: 15px;
    height: 15px;
    color: #f36e21;
    border: 1px solid lightgray;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 5px;
    top: -10px;
}

article div.main-article p.price{
    font-size: 15px;
    margin: 7px 10px 0px 4px;
}

article div.main-article p.discount{
    font-size: 15px;
    margin: 0px 10px 0px 4px;
}

.big-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* productList.ejs */

.productos-List {
    align-content: stretch;
    justify-content: space-evenly;
} 




/* ---------- Media queries ----------- */
@media (min-width:320px) and (max-width:425px){
    
    /* ---------- login inicio ----------- */
    input#login-name, input#password{
        width:100%;
        max-width:198px;
        
    }
    .login-button button.loguearse {
            width:100%;
            max-width:198px;
    }
    

    /* ----carrito inicio ----------*/
    .carrito-header{
        width:100vw
    }
    #paginaCarrito{
        display: flex;
        flex-direction: column;
        margin-top: 5px;
    }
    .h2container{
        padding:0px
    }
    .breadcrumbs{
        float: none;
        padding-right: 0px;
    }
    .itemList{
        width: 100%;
    }
    .item{
        margin-bottom: 12px;
        margin-top: 0px;
    }
    .menosItem button, .masItem button{
        width:10%;
        max-width: 50px;
    }
    .inputCantidadItem input{
        width:20%;
        max-width: 150px;
    }
    .subtotal{
        margin-bottom: 0px;
        margin-top: 42.56px;
        height: 28px;
    }
    .total-subtotal-container{
        width:100vw;
        padding: 0px;
    }

    /* ----carrito fin --------------*/
    .footer-elements{
        display:flex;
        flex-direction: column;
    }
    .newsletter input{
        width: 100px
    }
    .newsletter p{
        display: none;
    }
    
}

@media (min-width: 375px) and (max-width:768px){
    .memo{
        display:none;
    }
}

@media (min-width:426px) and (max-width:768px){
    .carrito-header{
        width:100vw
    }
    #paginaCarrito{
        display: flex;
        flex-direction: column;
        margin-top: 5px;
    }
    .h2container{
        padding:0px
    }
    .breadcrumbs{
        float: none;
        padding-right: 0px;
    }
    .itemList{
        width: 100%;
    }
    .item{
        margin-bottom: 12px;
        margin-top: 0px;
    }
    .menosItem button, .masItem button{
        width:10%;
        max-width: 50px;
    }
    .inputCantidadItem input{
        width:20%;
        max-width: 150px;
    }
    .subtotal{
        margin-bottom: 0px;
        margin-top: 42.56px;
        height: 28px;
    }
    .total-subtotal-container{
        width:100vw;
        padding: 0px;
        max-width: none;
    }
    .footer-elements{
        display:flex;
        flex-direction: column;
    }

    /* ---------- login inicio ----------- */
    input#login-name, input#password{
        width:80%;
    }
    div.username{
        width:100%;
        display: flex;
        justify-content: center;
    }
    div.password-container{
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    
    div.login-button {
        width:70vw;
    }
    button.loguearse{
        width:70vw
    }


}

@media (min-width:768px) and (max-width:1024px) {

    /*Header*/
    .logo{
        width: 180px;
    height: 80px;
    }

    .memo{
        width: 20%;
        font-size: 15px;
        display: block;
    }

    .main-header{
        justify-content:none;
    }

    .input{
         width: 40%;
    }

    span input{
        width: 90%;
        font-size: 18px;
        border-radius: 7px 0px 0px 7px;
        border:none;
        padding: 5px;
    }

    span button{
        font-size: 18px;
        border-radius: 0px 7px 7px 0px;
        width: 8%;
        border:none;
    }

    div.main-header .carritoAccesoDirecto{
        font-size: 20px;
    }

    div.main-header .burger-menu i {
        font-size: 26px;
    }
    

    /* Bottom header */
    .lista li a{
        font-size: 18px;
    }
    
    /*Login*/

    .login{
        /*width: 15%;*/
        text-align: center;
    }

    .login a{
        font-size: 18px;
    }

    .carritoAccesoDirecto a{
        padding-left: 0px;
    }

    /*Main-Detalle-De-Producto*/
    
    div.main-product-detail{
        display: flex;
        margin-top: 10px;
    }
    
    section div.botton-product-img{
      padding: 28px 0px;
      width: 30%;
      background-color: white;
    }
    
    section div.product-title {
     display: none;
    }
    
    section div.product-title-rigth{
     display: block;
     font-weight: bold;
    }
    
    section div.img-producto {
     border-bottom: 0px;
     width: 70%;
     background-color: white;
    }

    section div.product-compra {
        display: flex;
        width: 90%;
        margin: 20px 0px;
        justify-content: center;
    }

    section div.product-carrito {
        display: flex;
        width: 90%;
        margin: 20px 0px;
        justify-content: center;
    }
    
    /*Productos similares*/
    .product-mostrados article {
     width: 22%;
    }

    /*Main-INDEX*/

    .productos-login {
        align-content: stretch;
        justify-content: space-evenly;
        display: flex;
    } 
    .productos-List {
        align-content: stretch;
        justify-content: space-evenly;
        display: flex;
        flex-wrap: wrap;
    } 

    div.productos-login article.article-producto-login{
        width: 22%;
    }

    div.productos-List article.article-producto-login{
        width: 22%;
    }

    article.article-producto-login div.articulos-vistos, div.articulos-en-promocion{
        padding: 0px;
    }

    .newsletter button {
        margin: 0px;
    }

    section.promociones{
        margin: 5% 0px;
      }

    /*----------Main-Login-------------*/

    .menosItem button, .masItem button{
        width:10%;
        max-width: 50px;
    }

    .inputCantidadItem input{
        width:20%;
        max-width: 150px;
    }

    input#login-name, input#password{
        width:80%;
        max-width: 750px;
    }

    div.username{
        width:100%;
        display: flex;
        justify-content: center;
        max-width: 750px;
    }

    div.password-container{
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 750px;
    }
    
    div.login-button {
        width:80vw;
        max-width: 750px;
    }

    button.loguearse{
        width:80vw;
        max-width:750px;
    }

} 

@media (min-width: 1024px) and (max-width: 1440px) {
        
        span input {
            width: 90%;
            font-size: 18px;
            border-radius: 7px 0px 0px 7px;
            border: none;
            padding: 10px;
        }
        
        .logo {
            width: 200px;
            height: 75px;
        }
        
        .memo {
            width: 15%;
            font-size: 17px;
            display: block;
        }
    
        .input {
            width: 45%;
        }
    
        .login{
            display: block;
            text-align: center;
            width: 15%;
        }
    
        .login a {
            font-size: 15px;
        }

        div.main-header .carritoAccesoDirecto {
            font-size: 20px;
            padding-left: 10px;
        }

        .carritoAccesoDirecto a {
            padding: 0px;
        }
    
        .carritoAccesoDirecto a i{
            font-size: 30px;
        }
    
        div.main-header .burger-menu{
            display: none;
        }
    
    /*----------------------Botton-Header-----------------------*/
        .bottom-header {
            background-color:black;
            padding: 1px 0px 10px 0px;
            display: block;
            border-top: 1px #f36e21 solid;
            height: 30px;
        }


    /*--------------------Detalle de producto-----------------------*/
      
        .product-mostrados article {
            width: 17%;
            padding: 5px;
        }
      
        section div.img-producto {
          padding: 16px 16px 0px;
          border-bottom: 0px;
          width: 60%;
          background-color: white;
        }
      
        /*section div.img-producto img { /// Comment 2
          border-bottom: 1px gray solid;
        }*/
      
        section div.botton-product-img {
            padding: 28px 0px;
            width: 30%;
            background-color: white;
        }

        section div.product-title {
          display: none;
        }

        section div.product-title-rigth {
          display: block;
        }

        section div.product-title-rigth p {
          font-size: 20px;
          margin: 0px 20px;
          font-weight: bold;
        }
      
        section div.product-price h3 {
          font-size: 36px;
          padding-top: 30px;
        }
      
        section div.product-price p {
          font-size: 20px;
          margin-top: 20px;
        }
      
        section div.product-carrito {
          margin-top: 50px;
        }
        section div.product-mostrados {
          padding: 15px;
        }
      
        div.main-product-detail {
          display: flex;
          align-content: stretch;
          justify-content: center;
        }
        
    /*-------------------Main-Index---------------------*/
    .categorias-carrusel {
        display: flex;
        flex-wrap: wrap;
        background-color: #ebebeb;
        justify-content: center;
    }

    .productos-login {
        align-content: stretch;
        justify-content: space-evenly;
        display: flex;
    }
    .productos-List {
        align-content: stretch;
        justify-content: space-evenly;
        display: flex;
        flex-wrap: wrap;
    }

    div.productos-login article.article-producto-login {
        width: 17%;
        padding: 5px;
    }

    div.productos-List article.article-producto-login {
        width: 17%;
        padding: 5px;
    }
      /*----------Main-Login-------------*/
      .menosItem button, .masItem button{
        width:10%;
        max-width: 50px;
    }

    .inputCantidadItem input{
        width:20%;
        max-width: 150px;
    }

    input#login-name, input#password{
        width:80%;
        max-width: 750px;
    }

    div.username{
        width:100%;
        display: flex;
        justify-content: center;
        max-width: 750px;
    }

    div.password-container{
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 750px;
    }
    
    div.login-button {
        width:80vw;
        max-width: 750px;
    }

    button.loguearse{
        width:80vw;
        max-width:750px;
    }
}
@media (min-width: 1440px) and (max-width: 2560px) {

    /*-----------------------Top-Header---------------------*/
    span input {
        width: 90%;
        font-size: 18px;
        border-radius: 7px 0px 0px 7px;
        border: none;
        padding: 10px;
    }
    
    .logo {
        width: 200px;
        height: 75px;
    }
    
    .memo {
        width: 15%;
        font-size: 17px;
        display: block;
    }

    .input {
        width: 45%;
    }

    .login{
        display: block;
        text-align: center;
        width: 15%;
    }

    .login a {
        font-size: 15px;
    }

    div.main-header .carritoAccesoDirecto {
        font-size: 20px;
        padding-left: 10px;
    }

    .carritoAccesoDirecto a {
        padding: 0px;
    }

    .carritoAccesoDirecto a i{
        font-size: 30px;
    }

    div.main-header .burger-menu{
        display: none;
    }

/*----------------------Botton-Header-----------------------*/
    .bottom-header {
        background-color:black;
        padding: 1px 0px 10px 0px;
        display: block;
        border-top: 1px #f36e21 solid;
        height: 30px;
    }

    .lista li a {
        font-size: 16px;
    }
    .lista{
        margin-top: 12px;
        margin-bottom: 14px;
    }


    /*-------------------Imagen carrusel--------------*/
  img.carrusel-img {
    width: 100%;
    height: 450px;
  }

  /*-----------------Footer-------------------*/
  .footer-elements {
    flex-direction: row;
  }

  /*---------------Main-Index----------------*/
  .categorias-carrusel {
    display: flex;
    flex-wrap: wrap;
    background-color: #ebebeb;
    justify-content: center;
  }

  .productos-login {
    align-content: stretch;
    justify-content: space-evenly;
    display: flex;
    padding-bottom: 30px;
  }
  .productos-List {
    align-content: stretch;
    justify-content: space-evenly;
    display: flex;
    padding-bottom: 30px;
    flex-wrap: wrap;
  }

  div.productos-login article.article-producto-login {
    width: 22%;

  }
  div.productos-List article.article-producto-login {
    width: 22%;

  }

  main section article {
    width: 60%;
  }

  .categorias {
    font-size: 26px;
  }

  .lista-categorias {
    font-size: 25px;
  }

  .titulo-entre-productos {
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 10px;
  }

  .picture {
    height: 200px;
    width: 150px;
  }

  section div.articulos-vistos p.precio-Antes {
    display: block;
    font-size: 25px;
  }

  section div.articulos-en-promocion p.precio-Antes {
    display: block;
    font-size: 20px;
  }

  section div.articulos-en-promocion p.precio-ahora {
    display: block;
    font-size: 25px;
  }

  h5.descripcion {
    font-size: 20px;
  }

  section.promociones {
    margin: 0px;
  }

  /*-----------------Detalle de producto----------------*/


  section.product-description{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 25%);
  }

  section.products-similares {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 25%);
    padding: 0px;
  }

  .product-mostrados article {
    width: 17%;
    padding: 5px;
  }

  div.contain-img{
    width: 84%;
  }

  section div.img-producto {
    padding: 16px 16px 0px;
    border-bottom: 0px;
    width: 60%;
    background-color: white;
    border-bottom: 1px solid lightgray;
    justify-content: flex-end;
  }

  section div.botton-product-img {
    padding: 28px 0px;
    width: 30%;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.1);
    margin: 15px;
    max-width: 350px;
  }

  section div.botton-product-img {
    margin-bottom: 2px;
    width: 35%;
  }
  section div.product-title {
    display: none;
  }
  section div.product-title-rigth {
    display: block;
  }

  section div.product-title-rigth p {
    font-size: 20px;
    margin: 0px 20px;
    font-weight: bold;
  }

  section div.product-price h3 {
    font-size: 36px;
    padding-top: 30px;
  }

  section div.product-price p {
    font-size: 20px;
    margin-top: 20px;
  }

  section div.product-carrito {
    margin-top: 50px;
  }
  section div.product-mostrados {
    padding: 15px;
  }

  div.main-product-detail {
    display: flex;
    align-content: stretch;
    justify-content: center;
  }
 
  section.products-similares h3 {
    font-size: 26px;
    color: black;
    margin: auto;
    padding: 11px;
    padding-left: 25px;
    }
     /*----------Main-Login-------------*/
     .menosItem button, .masItem button{
        width:10%;
        max-width: 50px;
    }

    .inputCantidadItem input{
        width:20%;
        max-width: 150px;
    }

    input#login-name, input#password{
        width:80%;
        max-width: 750px;
    }

    div.username{
        width:100%;
        display: flex;
        justify-content: center;
        max-width: 750px;
    }

    div.password-container{
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 750px;
    }
    
    div.login-button {
        width:80vw;
        max-width: 750px;
    }

    button.loguearse{
        width:80vw;
        max-width:750px;
    }
}

.section-login .form2 .descripcion {
    width:100%;
    display: flex;
    justify-content: center;
    max-width: 750px;
    height: 70px;
  }

button.subirimagen{
    background-color: white;
    color:black;
    width: 100px;
    height: 55px; 
    border-radius: 5px;
    border: 5px solid rgba(0,0,0,.6);
    margin-top: 50px;
    width:100%;
    display: flex;
    justify-content: center;
}

    .section-login .form2 .descripcion input#login-name{
        width:100%;
        max-width: 750px;
        height: 85px;  
        display: flex;
        justify-content: left;   
    }
    .nombredelproducto{
        justify-content: center;
        max-width: 750px;
        width: 100%;
    }
    .section-login .form2 .nombredelproducto input#login-name{
        width:100%;
        max-width: 750px;
        height: 30px;  
        display: inline-flex;  
    }
    .section-login .form2 .button.loguearse{
        margin-top: 10px; 
    }
    

    .section-login .form2 .button.publicarproducto{
        padding: 0.5em 1em;
        border: none;
        background: #d5d5d5;
        cursor: pointer;
        max-width: 750px;
        border-radius: 4px;
      }
    
      .publicarproducto{
          transition-property: background-color;
          transition-duration: 0.5s;
      }
      
      .publicarproducto a{
          text-decoration: none;
          color:#000;
          transition-property: color;
          transition-duration: 0.5s;
      }
    
      .publicarproducto:hover{
          background-color: #f36e21;
          cursor: pointer;
      }
    
      .publicarproducto:hover > a{
          color:white
      }
      div.login-button-checkbox {
        width:80vw;
        max-width: 250px;
        height: 10px;   
        align-items: center;
        justify-content: center;
        display: flexbox;
    }
    .section-login .form2 .emaillogin input#login-name{
        width:100%;
        max-width: 450px;
        height: 30px;  
        display: inline-flex; 
        width: 700px; 
    }
    .section-login .form2 .contralogin input#login-password{
        width:  inline-flex; 
        width: 700x; }

