<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="\css\styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <title>Hammerhead</title>
</head>

<body>

    <%- include("partials/header.ejs")%>

    <main id="main">
        <section class="section-login">
            <form action="/" method="POST" class="form2">
            <div class="big-container">
                <div class="username">
                    <label for="login-name"></label>
                    <input type="text" name="login-name" id="login-name" minlength="10" placeholder="Email">
                </div>
                <div class="password-container">
                    <label for="login-password"></label>
                    <input type="password" name="contrase単a" id="password" minlength="8" placeholder="Contrase単a">
                   
                    <div class="login-button">
                        <div>
                            <p><a href="#">多Olvidastes tu Contrase単a?</a></p>
                            <label for="checkbox-recuerdame">Recuerdame</label>
                            <input type="checkbox" name="checkbox" id="checkbox">
                            <section class="#">
                <div class="login-button">
                <button class="loguearse">
                    <a href="/">Iniciar Sesion</a>
                </button>
                </div>
            </div>
            </form>
        </section>
    </main>

    <%- include("partials/footer.ejs")%>
    
</body>

</html>

</html>