<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="\css\styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <title>Hammerhead</title>
</head>

<body>
    <header>
        <nav>
            <div class="main-header">
                <div class="top-header">
                    <div>
                    <img src="\img\LogoFerreteria.png" alt="logo de Hammerhead" class="logo">
                    </div>
                </div>

                <p class="memo">
                    La solución a tus problemas
                </p>

                <span class="input">
                    <input type="text" placeholder="Producto o Marca">
                    <button><i class="fas fa-search"></i></button>
                </span>

                <div class="carritoAccesoDirecto">
                    <a href="/carrito">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </div> 

                <div class="burger-menu">
                    <i class="fa fa-bars burger"></i>
                </div>

                <div class="login">
                    <a href="/login">Iniciar Sesión</a>
                </div>

                <div class="login">
                    <a href="/register">Registrarse</a>
                </div>

            </div>
            </div>
            <div class="bottom-header">
                <ul class="lista">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/">Tienda</a></li>
                    <li><a href="#">Ayuda</a></li>
                    <li><a href="#">Sobre Nosotros</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main id="main">
        <section class="section-login">
            <form action="/" method="POST" class="form2">
                <div class="username">
                    <label for="login-name"></label>
                    <input type="text" name="login-name" id="login-name" minlength="4" placeholder="Nombre">
                </div>
                <div class="username">
                    <label for="login-name"></label>
                    <input type="text" name="login-name" id="login-name" minlength="4" placeholder="Apellido">
                </div>
                <div class="username">
                    <label for="login-name"></label>
                    <input type="text" name="login-name" id="login-name" minlength="10" placeholder="Email">
                </div>
                <div class="password-container">
                    <label for="login-password"></label>
                    <input type="password" name="contraseña" id="password" minlength="8" placeholder="Contraseña">
                </div>
                <div class="password-container">
                    <label for="login-password"></label>
                    <input type="password" name="contraseña" id="password" minlength="8" placeholder="Repetir la Contraseña">
                </div>
                <div class="login-button">
                <button class="loguearse">
                    <a href="/">Registrarse</a>
                </button>
                </div>
            </form>
        </section>
    </main>
    <footer>
        <div class="container">
            <div class="footer-elements">
                <div class="dataContacto">
                    <h4>Contactanos:</h4>
                    <ul>
                        <li>Metodo de contacto 1</li>
                        <li>Metodo de contacto 2</li>
                        <li>Metodo de contacto 3</li>
                        <li>Metodo de contacto 4</li>
                    </ul>
                </div>
                <div class="navegacion">
                    <h4>Navegacion</h4>
                    <ul>
                        <li>Inicio</li>
                        <li>Tienda</li>
                        <li>Ayuda</li>
                        <li>Sobre Nosotros</li>
                    </ul>
                </div>
                <div class="newsletter">
                    <h4>Newsletter</h4>
                    <input type="text" id="name" placeholder="Nombre">
                    <input type="email" id="email" placeholder="Mail">
                    <button type="submit">Enviar</button> </p>
                </div>
            </div>
        </div>
        <div class="footer-legal">
            <p>Copyright Hammerhead - 2022. Todos los derechos reservados.</p>
        </div>
    </footer>
</body>

</html>