
/*---SECION PRINCIPAL---*/
section.container_all_perfil{
    min-height: 44vh;
    padding: 15px 0px;
}

div.container_profile{
    border: 7px #f36e21 solid;
    margin: 14px 27px 0px;
    padding: 15px 0px 40px;
    border-radius: 13px;
}


/*---Titulo de la vista----*/
h2.title_perfil{
    margin: 0px;
    text-align: center;
}


/*---------Imagen del perfil-----*/

div.contain_img_perfil{
    margin: 12px 60px 18px 56px;
    text-align: center;
}


div.contain_img_perfil img{
    width: 150px;
    height: 100px;
    border-radius: 50%;
}


/*-----Info del Perfil----*/

div.perfil_data{
    text-align: center;
}

/*---------Nombre de Usuario--------------*/
div.name_perfil h3{
    margin: 0px;
}

div.name_perfil p{
    margin: 6px;
}

/*-----------Email de Usuario---------------*/

div.email_perfil h3{
    margin: 0px;
}

div.email_perfil p{
    margin: 6px 0px 14px;
}

/*--------------Botones del perfil---------------------*/
div.buttons-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.buttons-profile button{
    width: 40%;
    padding: 5px;
    border: 1px solid #f36e21;
    background-color: #f36e21;
    border-radius: 7px;
    margin-bottom: 5px;
}

div.buttons-profile button a{
   text-decoration: none;
   color: white;
}


@media (min-width: 768px){

/*----*/
    div.container_profile {
        margin: auto;
        width: 65%;
    }

    /*-----Contenedor de datos del perfil*/
    div.profile{
        display: flex;
        justify-content: center;
    }

    /*-----Imagen del perfil-------*/

    div.profileImage{
        margin-top: 15px;
        width: 45%;
    }

    /*-------------------Datos del perfil------------------*/

    div.perfil_data{
        padding-top: 40px;
    }

    div.name_perfil{
        display: flex;
    }

    div.name_perfil p{
        margin: 1px 14px;
    }

    div.email_perfil{
        display: flex;
    }

    div.email_perfil p{
        margin: 1px 14px;
    }

    /*---------Botones del perfil-------*/

    /*----Contenedor de botones----*/
    div.buttons-profile {
        width: 80%;
        margin: auto;
        flex-direction: inherit;
    }

    /*---Botones---*/
    div.buttons-profile button {
        margin: 5px;
    }
}

@media (min-width: 1024px){
    section.container_all_perfil {
        min-height: 71vh;
    }

    div.container_profile {
        width: 50%;
    }
}

@media (min-width: 1440px){
    
    div.container_profile {
        width: 40%;
    }
}