body{
    font-family: "Roboto";
}
img {
    max-width: 100%;
    max-height: 100%;
}


/* Top/Main-header */


.main-header{
    display: flex;
    justify-content: space-around;
    background-color: rgb(32, 32, 32);
}

.logo{
    width: 170px;
    height: 130px;
}

.memo{
    color:aqua;
    align-self: center;
    font-size: 28px
}

.input{
    align-self: center;
}

.carritoAccesoDirecto{
    align-self: center;
}

.carritoAccesoDirecto a{
    color: aqua;
}

.login {
    align-self: center;
}

.login a{
    color: aqua;
    text-decoration: none;
}

/* Bottom header */
.bottom-header{
    background-color: black;
}

.lista{
    color:aqua
}

.bottom-header{
    display: flex;

}
.lista {
    display: flex;

}

.lista li {
    list-style-type: none;
    padding-left:  70px;
}
.lista li a{
    color:aqua;
    text-decoration: none;
}
/*Main Index*/
img {
    max-width: 100%;
    max-height: 100%;
   }
main ul li{
    list-style-type: none;
}

main ul li a{
    text-decoration: none;
    color: black;
}

main h3{
    text-align: center;
}

article {
    border: 1px solid black;
    width:30%;
}

.categorias {
    border-bottom: 1px solid black;
}

.categorias-carrusel {
    display: flex;
    padding: 5%;

}

aside {
    width:70%;
    text-align: center;
}


.productos{
    text-align: center;
    }

.precio-ahora{
    font-size: 18px;
}

.description, .precio-antes{
    font-size: 16px;
    font-weight: normal;
}

.titulo-entre-productos{
    text-align: center;
    font-size: 20px;
}

.productos{
    display:flex;
    flex-flow: row wrap;
}

.picture{
    height: 40%;
    width: 60%;
}


/* Main carrito */
main{
    background-color: white;
}

.carrito-body{
    display: flex;
    flex-direction: column;
}

.h2container{
    color: black
}


.descripcionItem{
    float:right;
}

/*footer*/
footer{
    background-color: rgb(32, 32, 32);
    color:white
}
