<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="\css\styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <title>Hammerhead</title>
</head>

<body>
    <header>
        <nav>
            <div class="main-header">
                <div class="top-header">
                    <div>
                    <img src="\img\LogoFerreteria.png" alt="logo de Hammerhead" class="logo">
                    </div>
                </div>

                <p class="memo">
                    La solución a tus problemas
                </p>

                <span class="input">
                    <input type="text" placeholder="Producto o Marca">
                    <button><i class="fas fa-search"></i></button>
                </span>

                <div class="carritoAccesoDirecto">
                    <a href="/carrito">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </div> 

                <div class="burger-menu">
                    <i class="fa fa-bars burger"></i>
                </div>

                <div class="login">
                    <a href="/login">Iniciar Sesión</a>
                </div>

                <div class="login">
                    <a href="/register">Registrarse</a>
                </div>

            </div>
            </div>
            <div class="bottom-header">
                <ul class="lista">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/">Tienda</a></li>
                    <li><a href="#">Ayuda</a></li>
                    <li><a href="#">Sobre Nosotros</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="carrusel">
        <img src="img/bandera-login.jpg" alt=" imagen productos" class="carrusel-img">
    </div>
    <main id="main">   
        <section class="categorias-carrusel">       
                
                <!--aside class="carrusel">
                <ul class="slides">
                    <li id="slide1">Nuestras promociones</li>
                    <li id="slide2">Nuestros productos</li>
                    <li id="slide3">Productos de temporada</li>
                </ul>
                <nav>
                    <ul class="menu">
                        <li> <img class="picture" src="img/Alicate.jpg" alt="imagen de Alicate">Diapositiva 1</a></li>
                        <li> <img class="picture" src="img/Alicate.jpg" alt="imagen de Alicate">Diapositiva 2</a></li>
                        <li> <img class="picture" src="img/Alicate.jpg" alt="imagen de Alicate">Diapositiva 3</a></li>
                    </ul>
                </nav>

            </aside> --> <!-- trabajando en el carrusel-->
            <article class="categorias-lista">
                <h3 class="categorias">Categorías</h3>
                <p class="lista-categorias">
                    <a href='#'>Categoria 1 </a>
                    <a href='#'>Categoria 2</a>
                    <a href='#'>Categoria 3</a>
                    <a href='#'>Categoría 4</a>
                </p>
            </article>
        </section>
        <section class="ultima-visita">
            <h4 class="titulo-entre-productos">En tu última visita</h4>
            <div class="productos-login">
                <article class="article-producto-login">
                    <img class="picture" src="img/Alicate.jpg" alt="imagen de Alicate" width="100" height="100">
                    <div class="articulos-vistos">
                        <p class="precio-Antes">Precio $50.00</p>
                        <h5 class="descripcion"><a href="/detalle">Alicate megabueno</a></h5>
                        <div class="add-to-cart-button">
                            <button>Añadir al carrito</button>
                            </div>
                    </div>
                </article>
                <article class="article-producto-login">
                    <img class="picture" src="img/destornillador.jpg" alt="imagen de destornillador" width="100" height="100">
                    <div class="articulos-vistos">
                        <p class="precio-Antes">Precio $60.00</p>
                        <h5 class="descripcion"><a href="/detalle">Destornillador megabueno</a></h5>
                        <div class="add-to-cart-button">
                            <button>Añadir al carrito</button>
                            </div>
                    </div>
                </article>
                <article class="article-producto-login">
                    <img class="picture" src="img/Hacha.jpg" alt="imagen de Hacha" width="100" height="100">
                    <div class="articulos-vistos">
                        <p class="precio-Antes">Precio $10.00</p>
                        <h5 class="descripcion"><a href="/detalle">Hacha cortasúper</a></h5>
                        <div class="add-to-cart-button">
                            <button>Añadir al carrito</button>
                            </div>
                    </div>
                </article>
                <article class="article-producto-login">
                    <img class="picture" src="img/Martillo.jpg" alt="imagen de Martillo" width="100" height="100">
                    <div class="articulos-vistos">
                        <p class="precio-Antes">Precio $40.00</p>
                        <h5 class="descripcion"><a href="/detalle">Martillo pegaduro</a></h5>
                        <div class="add-to-cart-button">
                            <button>Añadir al carrito</button>
                            </div>
                    </div>
                </article>
            </div>
        </section>
        <section class="promociones">
            <h4 class="titulo-entre-productos">Nuestras promociones</h4>
            <div class="productos-login">
                <article class="article-producto-login">
                    <img class="picture" src="img/Alicate.jpg" alt="imagen de Alicate" width="100" height="100">
                    <div class="articulos-en-promocion">
                        <p class="precio-Antes">Precio anterior $50.00</p>
                        <p class="precio-ahora">Ahorra $10.00</p>
                        <h5 class="descripcion"><a href="/detalle">Alicate megabueno</a></h5>
                        <div class="add-to-cart-button">
                            <button>Añadir al carrito</button>
                            </div>
                    </div>
                </article>
                <article class="article-producto-login">
                    <img class="picture" src="img/destornillador.jpg" alt="imagen de destornillador" width="100" height="100">
                    <div class="articulos-en-promocion">
                        <p class="precio-Antes">Precio anterior $60.00</p>
                        <p class="precio-ahora">Ahorra $30.00</p>
                        <h5 class="descripcion"><a href="/detalle">Destornillador megabueno</a></h5>
                        <div class="add-to-cart-button">
                            <button>Añadir al carrito</button>
                            </div>
                    </div>
                </article>
                <article class="article-producto-login">
                    <img class="picture" src="img/Hacha.jpg" alt="imagen de Hacha" width="100" height="100">
                    <div class="articulos-en-promocion">
                        <p class="precio-Antes">Precio anterior $10.00</p>
                        <p class="precio-ahora">Ahorra $6.00</p>
                        <h5 class="descripcion"><a href="/detalle">Hacha cortasúper</a></h5>
                        <div class="add-to-cart-button">
                            <button>Añadir al carrito</button>
                            </div>
                    </div>
                </article>
                <article class="article-producto-login">
                    <img class="picture" src="img/Martillo.jpg" alt="imagen de Martillo" width="100" height="100">
                    <div class="articulos-en-promocion">
                        <p class="precio-Antes">Precio anterior $40.00</p>
                        <p class="precio-ahora">Ahorra $17.99</p>
                        <h5 class="descripcion"><a href="/detalle">Martillo pegaduro</a></h5>
                        <div class="add-to-cart-button">
                        <button>Añadir al carrito</button>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </main>
    <footer>
        <div class="container">
            <div class="footer-elements">
                <div class="dataContacto">
                    <h4>Contactanos:</h4>
                    <ul>
                        <li>Metodo de contacto 1</li>
                        <li>Metodo de contacto 2</li>
                        <li>Metodo de contacto 3</li>
                        <li>Metodo de contacto 4</li>
                    </ul>
                </div>
                <div class="navegacion">
                    <h4>Navegacion</h4>
                    <ul>
                        <li>Inicio</li>
                        <li>Tienda</li>
                        <li>Ayuda</li>
                        <li>Sobre Nosotros</li>
                    </ul>
                </div>
                <div class="newsletter">
                    <h4>Newsletter</h4>
                    <input type="text" id="name" placeholder="Nombre">
                    <input type="email" id="email" placeholder="Mail">
                    <button class="button-footer">Enviar</button>
                </div>
            </div>
        </div>
        <div class="footer-legal">
            <p>Copyright Hammerhead - 2022. Todos los derechos reservados.</p>
        </div>
    </footer>
</body>

</html>