<header>
    <nav>
        <div class="main-header">
            <div class="top-header">
                <div>
                <a href="/"><img src="\img\Logo-HammerHead.png" alt="logo de Hammerhead" class="logo"></a>
                </div>
            </div>

            <p class="memo">
                La solución a tus problemas
            </p>

            <span class="input">
                <input type="text" placeholder="Producto o Marca">
                <button><i class="fas fa-search"></i></button>
            </span>

            <div class="carritoAccesoDirecto">
                <a href="/carrito">
                    <i class="fas fa-shopping-cart"></i>
                </a>
            </div> 

            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>

            <div class="login">
                <a href="/login"><i class="fas fa-sign-in-alt"></i>Iniciar Sesión</a>
            </div>

            <div class="login">
                <a href="/register"><i class="fas fa-plus-circle"></i>Registrarse</a>
            </div>

        </div>
        </div>
        <div class="bottom-header">
            <ul class="lista">
                <li><a href="/">Inicio</a></li>
                <li><a href="/producto/productList">Tienda</a></li>
                <li><a href="#">Ayuda</a></li>
                <li><a href="/producto/crear">Vender</a></li>
            </ul>
        </div>
    </nav>
</header>