<footer id="footer">
  <div class="container">
    <div class="footer-elements">
      <div class="dataContacto">
        <h4>Contactanos:</h4>
        <ul class="listaContacto">
          <li><i class="fa-brands fa-whatsapp"> 11 3080-2143</i></li>
          <li><i class="fa-brands fa-instagram"> @HammerheadOficial</i></li>
          <li><i class="fa-brands fa-facebook"> @Hammerhead_Oficial</i></li>
          <li><i class="fa-solid fa-envelope"> </i>  Hammerhead_oficial@gmail.com</li>
        </ul>
      </div>
      <div class="navegacion">
        <h4>Navegacion</h4>
        <ul class="listaNavegacion">
          <li><a href="/">Inicio</a></li>
          <li><a href="/producto/productList">Productos</a></li>
          <li><a href="#footer">Contactos</a></li>
          <li><a href="/about-us">Quienes somos</a></li>
        </ul>
      </div>
      <div class="newsletter">
        <h4>Newsletter</h4>
        <p>
          Suscribite a nuestro Newsletter para recibir al instante nueva
          informacion sobre nuestras ofertas
        </p>
        <input type="text" id="name" placeholder="Nombre" />
        <input type="email" id="emailFooter" placeholder="Mail" />
        <button>Enviar</button>
      </div>
    </div>
  </div>
  <div class="footer-legal">
    <p>Copyright Hammerhead - 2022. Todos los derechos reservados.</p>
  </div>
</footer>
