<footer>
  <div class="container">
    <div class="footer-elements">
      <div class="dataContacto">
        <h4>Contactanos:</h4>
        <ul class="listaContacto">
          <li>Metodo de contacto 1</li>
          <li>Metodo de contacto 2</li>
          <li>Metodo de contacto 3</li>
          <li>Metodo de contacto 4</li>
        </ul>
      </div>
      <div class="navegacion">
        <h4>Navegacion</h4>
        <ul class="listaNavegacion">
          <li><a href="">Inicio</a></li>
          <li><a href="">Tienda</a></li>
          <li><a href="">Ayuda</a></li>
          <li><a href="">Sobre Nosotros</a></li>
        </ul>
      </div>
      <div class="newsletter">
        <h4>Newsletter</h4>
        <p>
          Suscribite a nuestro Newsletter para recibir al instante nueva
          informacion sobre nuestras ofertas
        </p>
        <input type="text" id="name" placeholder="Nombre" />
        <input type="email" id="email" placeholder="Mail" />
        <button>Enviar</button>
      </div>
    </div>
  </div>
  <div class="footer-legal">
    <p>Copyright Hammerhead - 2022. Todos los derechos reservados.</p>
  </div>
</footer>
