<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head.ejs")%>

<body>

    <%- include("../partials/header.ejs")%>

    <main id="main">
        <section class="section-login">
          <form action="/" method="POST" class="form2">
            <div class="username">
              <label for="login-name"></label>
              <input
                type="email"
                name="email"
                id="login-name"
                placeholder="Email"
              />
            </div>
            <div class="password-container">
              <label for="login-password"></label>
              <input
                type="password"
                name="password"
                id="password"
                minlength="8"
                placeholder="Contraseña"
              />
            </div>
            <div class="login-button-checkbox">
                <div>
                    <label for="checkbox-recuerdame">Recuerdame</label>
                    <input type="checkbox" name="checkbox" id="checkbox">
                    <section class="#">
          </div>
            <div class="login-button">
              <button class="publicarproducto">
                <a href="/">INICIAR SESION</a>
              </button>
            </div>
          </form>
        </section>
        <div class="banner-filler">
          <img src="https://www.idemcosb.com.my/media/mbimages/i/d/idemco_shopee_homepage_banner_july.jpg" alt="Banner De Hammerhead" width="100%" height="20%">
        </div>
      </main>


    <%- include("../partials/footer.ejs")%>

</body>

</html>

</html>