<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head.ejs")%>

<body>

    <%- include("../partials/header.ejs")%>

    <main id="main">
        <section class="section-login">
          <form action="/register" method="POST" class="form2">
            <div class="username">
              <label for="login-name"></label>
              <input
                type="text"
                name="first_name"
                id="login-name"
                minlength="4"
                placeholder="Nombre"
              />
            </div>
            <div class="username">
              <label for="login-name"></label>
              <input
                type="text"
                name="last_name"
                id="login-name"
                minlength="4"
                placeholder="Apellido"
              />
            </div>
            <div class="username">
              <label for="login-name"></label>
              <input
                type="text"
                name="email"
                id="login-name"
                minlength="10"
                placeholder="Email"
              />
            </div>
            <div class="password-container">
              <label for="login-password"></label>
              <input
                type="password"
                name="password"
                id="password"
                minlength="8"
                placeholder="Contraseña"
              />
            </div>
            <!-- <div class="password-container">
              <label for="login-password"></label>
              <input
                type="password"
                name="password"
                id="password"
                minlength="8"
                placeholder="Repetir la Contraseña"
              />
            </div> -->
            <div class="login-button">
                <button type="submit" class="button-submit-product">
                  Registrarse
                </button>  
            </div>
          </form>
        </section>
      </main>

    <%- include("../partials/footer.ejs")%>

</body>

</html>
