<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs")%>
  <link rel="stylesheet" href="/css/crearproducto.css">

  <body>
    <%- include("../partials/header.ejs")%>

      <main id="main">
        <form action="/producto/crear" method="POST" enctype="multipart/form-data" class="form2">
          <div>
            <h4>Como se veria tu Producto:</h4>
          </div>
          <section class="product-description">
            <div class="main-product-detail">
              <div class="submit-product-title">
                <label for="name"></label>
                <input type="text" name="name" id="name" placeholder="Nombre del Producto" />
              </div>

              <div class="img-submit-product">
                <div class="contain-img">
                  <div class="submit-imagen">
                    <input type="file" name="image" id="image" placeholder="Subir Imagen" />
                  </div>
                </div>
              </div>

              <div class="botton-product-img">
                <div class="product-title-rigth">
                  <label for="discount"></label>
                  <input type="text" name="discount" id="discount" placeholder="Descuento" />
                </div>

                <div class="submit-product-stock">
                  <label for="cantidad"></label>
                  <input type="text" class="stock" name="stock" id="stock" placeholder="cantidad de productos">
                </div>
                <div class="submit-product-price">
                  <label for="price"></label>
                  <input type="text" class="price" name="price" id="price" value="$" placeholder="Precio">
                </div>
              </div>
            </div>
            <div class="submit-product-carac">
              <label for="description"></label>
              <textarea name="description" id="description" placeholder="Descripcion" style="width:100% ;height: 30%;"></textarea>
            </div>


            <div class="submit-color">
              <p>COLORES DISPONIBLES:</p>
              <input type="text" name="colores" id="colores" placeholder="Colores" />
            </div>

            <div class="submit-sub-categorias">
              <p>CATEGORIAS:</p>
              <input type="text" name="subCategory" id="subCategory" placeholder="Sub Categoria" />
            </div>
            <div class="submit-product">
              <button type="submit" class="button-submit-product">
                PUBLICAR PRODUCTO
              </button>  
            </div>
        </form>
        </section>
      </main>
      <%- include("../partials/footer.ejs")%>
  </body>

</html>