<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs")%>
  <link rel="stylesheet" href="/css/crearproducto.css">

  <body>
    <%- include("../partials/header.ejs")%>

      <main id="main">
        <form action="/" method="POST" class="form2">
          <div>
            <h4>Como se veria tu Producto:</h4>
          </div>
          <section class="product-description">
            <div class="main-product-detail">
              <div class="submit-product-title">
                <label for="name"></label>
                <input type="text" name="name" id="name" placeholder="Nombre del Producto" />
              </div>

              <div class="img-submit-product">
                <div class="contain-img">
                  <button class="submit-imagen">
                    <a href="/">SUBIR IMAGEN</a>
                  </button>
                </div>
              </div>

              <div class="botton-product-img">
                <div class="product-title-rigth">
                  <label for="discount"></label>
                  <input type="text" name="discount" id="discount" placeholder="Descuento" />
                </div>

                <div class="submit-product-stock">
                  <label for="cantidad"></label>
                  <input type="text" class="stock" name="stock" id="stock" placeholder="cantidad de productos">
                </div>
                <div class="submit-product-price">
                  <label for="price"></label>
                  <input type="text" class="price" name="price" id="price" placeholder="Precio $">
                </div>

                <div class="submit-product-carrito">
                  <p>Agregar al carrito</p>
                </div>

                <div class="submit-product-compra">
                  <p>Editar Producto</p>
                </div>
              </div>
            </div>
            <div class="submit-product-carac">
              <label for="description"></label>
              <input type="text" name="description" id="description" placeholder="Descripcion" />
            </div>


            <div class="submit-color">
              <p>COLORES DISPONIBLES:</p>
              <div>
                <label for="checkbox-recuerdame">Naranja<input type="checkbox" name="color" id="color"></label>
              </div>
              <div>
                <label for="checkbox-recuerdame">Amarillo<input type="checkbox" name="color" id="color"></label>
                
              </div>
              <div>
                <label for="checkbox-recuerdame">Negro<input type="checkbox" name="color" id="color"></label>       
              </div>
              <div>
                <label for="checkbox-recuerdame">Original(Gris Claro)<input type="checkbox" name="color" id="color"></label>
              </div>
            </div>

            <div class="submit-sub-categorias">
              <p>CATEGORIAS:</p>
              <div>
                <label for="checkbox-recuerdame">Herramientas<input type="checkbox" name="sub-category" id="sub-category"></label>                
              </div>
              <div>
                <label for="checkbox-recuerdame">Electricidad<input type="checkbox" name="sub-category" id="sub-category"></label>                
              </div>
              <div>
                <label for="checkbox-recuerdame">Plomeria<input type="checkbox" name="sub-category" id="sub-category"></label>
                
              </div>
              <div>
                <label for="checkbox-recuerdame">Construccion<input type="checkbox" name="sub-category" id="sub-category"></label>                
              </div>
              <div>
                <label for="checkbox-recuerdame">Otros<input type="checkbox" name="sub-category" id="sub-category"></label>               
              </div>
            </div>
            <div class="submit-product">
              <button class="button-submit-product">
                PUBLICAR PRODUCTO
              </button>  
            </div>
        </form>
        </section>
      </main>
      <%- include("../partials/footer.ejs")%>
  </body>

</html>