<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs")%>
    <link rel="stylesheet" href="/css/aboutUs.css">

    <body>
        <%- include("../partials/header.ejs")%>
        <main class="about-us-main">
            <div class="about-us-tittle">
                <h1>Quienes somos:</h1>
            </div>
            <div>
                <p class="about-us-p">
                    HammerHead, desde 1976, una empresa familiar dedicada a brindar soluciones con materiales y herramientas de ferretería para la 
                    construcción civil, pequeña, gran industria y artesanía, manejando un surtido completo y permanente que permite llegar a los clientes 
                    con un servicio oportuno de alta calidad a un precio competitivo.  Adaptando toda la experiencia y conocimiento a los tiempos que 
                    corren, en constante crecimiento y con el respaldo y la solidez que solo nuestro personal especializado puede brindar.
                </p>
                <p class="about-us-p">
                    Mediante nuestros canales de comunicación, usted podrá encontrar las respuestas que necesita y nuestros productos lo llevarán a 
                    vivir la mejor experiencia para satisfacer sus necesidades rápida y eficazmente.
                </p>
                <p class="about-us-p">
                    Las mejores herramientas y el personal más idóneo al alcance de sus manos.
                </p>
            </div>
        </main>
        <%- include("../partials/footer.ejs")%>
    </body>

</html>